<a href="https://colab.research.google.com/github/d78kondr/flights/blob/master/flights_eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Flight Delays Exploratory Data Analysis

In [0]:
import numpy as np
import pandas as pd
#import datetime
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [0]:
#data_path = 'https://github.com/d78kondr/flights/blob/master/schedule_dataset.xlsx'
#df = pd.read_excel(data_path)

In [5]:
from google.colab import files
uploaded = files.upload()

Saving schedule_dataset.xlsx to schedule_dataset.xlsx

In [0]:
import io
df = pd.read_excel(io.BytesIO(uploaded['schedule_dataset.xlsx']))

In [7]:
df.columns

Index(['Дата рейса', 'Рейс', 'А/П отправл', 'А/П прибыт', 'Номер ВС',
       'Время отправления по расписанию', 'Время отправления фактическое',
       'Время прибытия по расписанию', 'Время прибытия фактическое'],
      dtype='object')

In [0]:
new_col_names=['date','flight','dep','dst','number','dep_time_sched','dep_time_fact','dst_time_sched','dst_time_fact']
df.columns = new_col_names

In [9]:
df.info()
print(df.describe())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139732 entries, 0 to 139731
Data columns (total 9 columns):
date              139732 non-null datetime64[ns]
flight            139732 non-null int64
dep               139732 non-null object
dst               139732 non-null object
number            139732 non-null int64
dep_time_sched    139732 non-null datetime64[ns]
dep_time_fact     139732 non-null datetime64[ns]
dst_time_sched    139732 non-null datetime64[ns]
dst_time_fact     139732 non-null datetime64[ns]
dtypes: datetime64[ns](5), int64(2), object(2)
memory usage: 9.6+ MB
              flight         number
count  139732.000000  139732.000000
mean      413.544829     112.266675
std       253.934144      67.869558
min         1.000000       1.000000
25%       202.000000      54.000000
50%       398.000000     107.000000
75%       599.000000     172.000000
max      1074.000000     246.000000

        date  flight  ...      dst_time_sched       dst_time_fact
0 2018-03-01       1  ... 2018-03-01 02:00:00 2018-03-01 01:48:00
1 2018-03-01       2  ... 2018-03-01 01:30:00 2018-03-01 01:55:00
2 2018-03-01       3  ... 2018-03-01 02:40:00 2018-03-01 02:32:00
3 2018-03-01       4  ... 2018-03-01 01:35:00 2018-03-01 01:39:00
4 2018-03-01       5  ... 2018-03-01 02:40:00 2018-03-01 02:41:00

[5 rows x 9 columns]

In [10]:
unique_dep = set(df['dep'].unique()) # unique depature airports
print(len(unique_dep), unique_dep)

157 {'HKG', 'BEG', 'FCO', 'ARH', 'FRU', 'ABA', 'GDX', 'EVN', 'CAI', 'ZRH', 'LED', 'TLL', 'VVO', 'MSQ', 'ARN', 'BUD', 'FRA', 'SKD', 'HER', 'GDZ', 'EGO', 'KRR', 'OVB', 'STW', 'SLY', 'PKC', 'YKS', 'KZN', 'STR', 'BEY', 'ZIA', 'HEL', 'LCA', 'TFS', 'IAD', 'KZO', 'LGW', 'OSL', 'SPU', 'NOZ', 'HMA', 'IAR', 'ATH', 'ROV', 'REN', 'AGP', 'DEL', 'AER', 'VKO', 'KUN', 'ICN', 'NCE', 'RTW', 'VRN', 'ZAG', 'NRT', 'MIA', 'KGD', 'MXP', 'KHV', 'ALA', 'UFA', 'SAW', 'CEK', 'NBC', 'SVX', 'SOF', 'CAN', 'PRG', 'GYD', 'ASF', 'PVG', 'MQF', 'SCO', 'BLQ', 'NAP', 'TGD', 'LTN', 'BAX', 'SCW', 'PEK', 'IKA', 'VLC', 'IST', 'TSE', 'SXF', 'AYT', 'PEE', 'LYS', 'KSN', 'GVA', 'HAM', 'NJC', 'VNO', 'PLQ', 'HAJ', 'OTP', 'VIE', 'LIS', 'AAQ', 'GNB', 'UUS', 'TAS', 'SIP', 'BRU', 'LHR', 'VOZ', 'HAV', 'TLV', 'RIX', 'TBS', 'ALC', 'GRV', 'MRV', 'HKT', 'DRS', 'OMS', 'MUC', 'KIV', 'SGC', 'SKG', 'JFK', 'CDG', 'KGF', 'DUS', 'MMK', 'IKT', 'HAN', 'WAW', 'BKK', 'SZG', 'BOJ', 'NUX', 'AMS', 'GUW', 'AKX', 'MLE', 'ULN', 'DXB', 'TOF', 'MAD', 'GOJ', 'PED', 'KEJ', 'MOW', 'TJM', 'SKX', 'CPH', 'BCN', 'KUF', 'CIT', 'KJA', 'SGN', 'VCE', 'LAX', 'VOG', 'TIV'}

In [11]:
unique_dst = set(df['dst'].unique()) # unique destination airports
print(len(unique_dst), unique_dst)

157 {'HKG', 'BEG', 'FCO', 'ARH', 'FRU', 'ABA', 'GDX', 'EVN', 'CAI', 'ZRH', 'LED', 'TLL', 'VVO', 'MSQ', 'ARN', 'BUD', 'FRA', 'SKD', 'HER', 'GDZ', 'EGO', 'KRR', 'OVB', 'STW', 'SLY', 'PKC', 'KZN', 'YKS', 'STR', 'BEY', 'ZIA', 'HEL', 'LCA', 'TFS', 'IAD', 'KZO', 'LGW', 'OSL', 'SPU', 'NOZ', 'HMA', 'IAR', 'ATH', 'ROV', 'REN', 'DEL', 'AER', 'VKO', 'KUN', 'ICN', 'NCE', 'RTW', 'VRN', 'ZAG', 'NRT', 'MIA', 'KGD', 'MXP', 'KHV', 'ALA', 'UFA', 'SAW', 'CEK', 'NBC', 'SVX', 'SOF', 'CAN', 'PRG', 'GYD', 'ASF', 'PVG', 'MQF', 'SCO', 'BLQ', 'NAP', 'LTN', 'BAX', 'SCW', 'PEK', 'IKA', 'VLC', 'IST', 'TSE', 'SXF', 'AYT', 'PEE', 'LYS', 'GVA', 'KSN', 'HAM', 'NJC', 'VNO', 'PLQ', 'HAJ', 'OTP', 'VIE', 'LIS', 'AAQ', 'GNB', 'UUS', 'TAS', 'SIP', 'BRU', 'LHR', 'VOZ', 'HAV', 'TLV', 'RIX', 'TBS', 'ALC', 'GRV', 'MRV', 'HKT', 'DRS', 'OMS', 'MUC', 'KIV', 'SGC', 'SKG', 'JFK', 'CDG', 'KGF', 'DUS', 'MMK', 'DME', 'IKT', 'HAN', 'WAW', 'LAX', 'BKK', 'SZG', 'BOJ', 'NUX', 'AMS', 'GUW', 'AKX', 'MLE', 'ULN', 'DXB', 'TOF', 'MAD', 'GOJ', 'PED', 'KEJ', 'MOW', 'TJM', 'SKX', 'CPH', 'BCN', 'KUF', 'CIT', 'KJA', 'SGN', 'VCE', 'AGP', 'VOG', 'TIV'}

In [12]:
# difference  between depature and destination airport ids
dep_dst_diff = unique_dep.symmetric_difference(unique_dst) 
print("Depature / Destination Difference: ",dep_dst_diff)
print("In depatures: ",unique_dep.intersection(dep_dst_diff))
print("In destinations: ",unique_dst.intersection(dep_dst_diff))
'TGD' in unique_dep, 'DME' in unique_dep, 'TGD' in unique_dst, 'DME' in unique_dst

Depature / Destination Difference:  {'TGD', 'DME'}
In depatures:  {'TGD'}
In destinations:  {'DME'}

(True, False, False, True)

In [13]:
df['date'].min(), df['date'].max() # interval in dates

(Timestamp('2018-03-01 00:00:00'), Timestamp('2018-09-03 00:00:00'))

In [14]:
delta_min = pd.Timedelta(minutes=1) 
delta_min

Timedelta('0 days 00:01:00')

In [15]:
df1 = df.head(10)
df1

        date  flight  ...      dst_time_sched       dst_time_fact
0 2018-03-01       1  ... 2018-03-01 02:00:00 2018-03-01 01:48:00
1 2018-03-01       2  ... 2018-03-01 01:30:00 2018-03-01 01:55:00
2 2018-03-01       3  ... 2018-03-01 02:40:00 2018-03-01 02:32:00
3 2018-03-01       4  ... 2018-03-01 01:35:00 2018-03-01 01:39:00
4 2018-03-01       5  ... 2018-03-01 02:40:00 2018-03-01 02:41:00
5 2018-03-01       6  ... 2018-03-01 03:25:00 2018-03-01 03:23:00
6 2018-03-01       7  ... 2018-03-01 03:50:00 2018-03-01 03:57:00
7 2018-03-01       8  ... 2018-03-01 03:45:00 2018-03-01 03:34:00
8 2018-03-01       9  ... 2018-03-01 03:05:00 2018-03-01 03:04:00
9 2018-03-01      10  ... 2018-03-01 03:05:00 2018-03-01 03:15:00

[10 rows x 9 columns]

In [0]:
# Add column with difference between factual and scheduled depature times
df1 = df1.assign(
    dep_diff = df1.apply(lambda row: (row['dep_time_fact'] - row['dep_time_sched']) / delta_min, axis = 1))

# Add column with difference between factual and scheduled destination arrival times
df1 = df1.assign(
    dst_diff = df1.apply(lambda row: (row['dst_time_fact'] - row['dst_time_sched']) / delta_min, axis = 1))

In [17]:
df1

        date  flight  dep  ...       dst_time_fact  dep_diff dst_diff
0 2018-03-01       1  MOW  ... 2018-03-01 01:48:00     -17.0    -12.0
1 2018-03-01       2  MOW  ... 2018-03-01 01:55:00      -5.0     25.0
2 2018-03-01       3  MOW  ... 2018-03-01 02:32:00      -1.0     -8.0
3 2018-03-01       4  LED  ... 2018-03-01 01:39:00      -9.0      4.0
4 2018-03-01       5  MOW  ... 2018-03-01 02:41:00      -4.0      1.0
5 2018-03-01       6  FRA  ... 2018-03-01 03:23:00      -5.0     -2.0
6 2018-03-01       7  AMS  ... 2018-03-01 03:57:00       3.0      7.0
7 2018-03-01       8  ZRH  ... 2018-03-01 03:34:00     -11.0    -11.0
8 2018-03-01       9  MOW  ... 2018-03-01 03:04:00      -5.0     -1.0
9 2018-03-01      10  MOW  ... 2018-03-01 03:15:00      -9.0     10.0

[10 rows x 11 columns]

In [18]:
df['date'].unique()

array(['2018-03-01T00:00:00.000000000', '2018-03-02T00:00:00.000000000',
       '2018-03-03T00:00:00.000000000', '2018-03-04T00:00:00.000000000',
       '2018-03-05T00:00:00.000000000', '2018-03-06T00:00:00.000000000',
       '2018-03-07T00:00:00.000000000', '2018-03-08T00:00:00.000000000',
       '2018-03-09T00:00:00.000000000', '2018-03-10T00:00:00.000000000',
       '2018-03-11T00:00:00.000000000', '2018-03-12T00:00:00.000000000',
       '2018-03-13T00:00:00.000000000', '2018-03-14T00:00:00.000000000',
       '2018-03-15T00:00:00.000000000', '2018-03-16T00:00:00.000000000',
       '2018-03-17T00:00:00.000000000', '2018-03-18T00:00:00.000000000',
       '2018-03-19T00:00:00.000000000', '2018-03-20T00:00:00.000000000',
       '2018-03-21T00:00:00.000000000', '2018-03-22T00:00:00.000000000',
       '2018-03-23T00:00:00.000000000', '2018-03-24T00:00:00.000000000',
       '2018-03-25T00:00:00.000000000', '2018-03-26T00:00:00.000000000',
       '2018-03-27T00:00:00.000000000', '2018-03-28T00:00:00.000000000',
       '2018-03-29T00:00:00.000000000', '2018-03-30T00:00:00.000000000',
       '2018-03-31T00:00:00.000000000', '2018-04-01T00:00:00.000000000',
       '2018-04-02T00:00:00.000000000', '2018-04-03T00:00:00.000000000',
       '2018-04-04T00:00:00.000000000', '2018-04-05T00:00:00.000000000',
       '2018-04-06T00:00:00.000000000', '2018-04-07T00:00:00.000000000',
       '2018-04-08T00:00:00.000000000', '2018-04-09T00:00:00.000000000',
       '2018-04-10T00:00:00.000000000', '2018-04-11T00:00:00.000000000',
       '2018-04-12T00:00:00.000000000', '2018-04-13T00:00:00.000000000',
       '2018-04-14T00:00:00.000000000', '2018-04-15T00:00:00.000000000',
       '2018-04-16T00:00:00.000000000', '2018-04-17T00:00:00.000000000',
       '2018-04-18T00:00:00.000000000', '2018-04-19T00:00:00.000000000',
       '2018-04-20T00:00:00.000000000', '2018-04-21T00:00:00.000000000',
       '2018-04-22T00:00:00.000000000', '2018-04-23T00:00:00.000000000',
       '2018-04-24T00:00:00.000000000', '2018-04-25T00:00:00.000000000',
       '2018-04-26T00:00:00.000000000', '2018-04-27T00:00:00.000000000',
       '2018-04-28T00:00:00.000000000', '2018-04-29T00:00:00.000000000',
       '2018-04-30T00:00:00.000000000', '2018-05-01T00:00:00.000000000',
       '2018-05-02T00:00:00.000000000', '2018-05-03T00:00:00.000000000',
       '2018-05-04T00:00:00.000000000', '2018-05-05T00:00:00.000000000',
       '2018-05-06T00:00:00.000000000', '2018-05-07T00:00:00.000000000',
       '2018-05-08T00:00:00.000000000', '2018-05-09T00:00:00.000000000',
       '2018-05-10T00:00:00.000000000', '2018-05-11T00:00:00.000000000',
       '2018-05-12T00:00:00.000000000', '2018-05-13T00:00:00.000000000',
       '2018-05-14T00:00:00.000000000', '2018-05-15T00:00:00.000000000',
       '2018-05-16T00:00:00.000000000', '2018-05-17T00:00:00.000000000',
       '2018-05-18T00:00:00.000000000', '2018-05-19T00:00:00.000000000',
       '2018-05-20T00:00:00.000000000', '2018-05-21T00:00:00.000000000',
       '2018-05-22T00:00:00.000000000', '2018-05-23T00:00:00.000000000',
       '2018-05-24T00:00:00.000000000', '2018-05-25T00:00:00.000000000',
       '2018-05-26T00:00:00.000000000', '2018-05-27T00:00:00.000000000',
       '2018-05-28T00:00:00.000000000', '2018-05-29T00:00:00.000000000',
       '2018-05-30T00:00:00.000000000', '2018-05-31T00:00:00.000000000',
       '2018-06-01T00:00:00.000000000', '2018-06-02T00:00:00.000000000',
       '2018-06-03T00:00:00.000000000', '2018-06-04T00:00:00.000000000',
       '2018-06-05T00:00:00.000000000', '2018-06-06T00:00:00.000000000',
       '2018-06-07T00:00:00.000000000', '2018-06-08T00:00:00.000000000',
       '2018-06-09T00:00:00.000000000', '2018-06-10T00:00:00.000000000',
       '2018-06-11T00:00:00.000000000', '2018-06-12T00:00:00.000000000',
       '2018-06-13T00:00:00.000000000', '2018-06-14T00:00:00.000000000',
       '2018-06-15T00:00:00.000000000', '2018-06-16T00:00:00.000000000',
       '2018-06-17T00:00:00.000000000', '2018-06-18T00:00:00.000000000',
       '2018-06-19T00:00:00.000000000', '2018-06-20T00:00:00.000000000',
       '2018-06-21T00:00:00.000000000', '2018-06-22T00:00:00.000000000',
       '2018-06-23T00:00:00.000000000', '2018-06-24T00:00:00.000000000',
       '2018-06-25T00:00:00.000000000', '2018-06-26T00:00:00.000000000',
       '2018-06-27T00:00:00.000000000', '2018-06-28T00:00:00.000000000',
       '2018-06-29T00:00:00.000000000', '2018-06-30T00:00:00.000000000',
       '2018-07-01T00:00:00.000000000', '2018-07-02T00:00:00.000000000',
       '2018-07-03T00:00:00.000000000', '2018-07-04T00:00:00.000000000',
       '2018-07-05T00:00:00.000000000', '2018-07-06T00:00:00.000000000',
       '2018-07-07T00:00:00.000000000', '2018-07-08T00:00:00.000000000',
       '2018-07-09T00:00:00.000000000', '2018-07-10T00:00:00.000000000',
       '2018-07-11T00:00:00.000000000', '2018-07-12T00:00:00.000000000',
       '2018-07-13T00:00:00.000000000', '2018-07-14T00:00:00.000000000',
       '2018-07-15T00:00:00.000000000', '2018-07-16T00:00:00.000000000',
       '2018-07-17T00:00:00.000000000', '2018-07-18T00:00:00.000000000',
       '2018-07-19T00:00:00.000000000', '2018-07-20T00:00:00.000000000',
       '2018-07-21T00:00:00.000000000', '2018-07-22T00:00:00.000000000',
       '2018-07-23T00:00:00.000000000', '2018-07-24T00:00:00.000000000',
       '2018-07-25T00:00:00.000000000', '2018-07-26T00:00:00.000000000',
       '2018-07-27T00:00:00.000000000', '2018-07-28T00:00:00.000000000',
       '2018-07-29T00:00:00.000000000', '2018-07-30T00:00:00.000000000',
       '2018-07-31T00:00:00.000000000', '2018-08-01T00:00:00.000000000',
       '2018-08-02T00:00:00.000000000', '2018-08-03T00:00:00.000000000',
       '2018-08-04T00:00:00.000000000', '2018-08-05T00:00:00.000000000',
       '2018-08-06T00:00:00.000000000', '2018-08-07T00:00:00.000000000',
       '2018-08-08T00:00:00.000000000', '2018-08-09T00:00:00.000000000',
       '2018-08-10T00:00:00.000000000', '2018-08-11T00:00:00.000000000',
       '2018-08-12T00:00:00.000000000', '2018-08-13T00:00:00.000000000',
       '2018-08-14T00:00:00.000000000', '2018-08-15T00:00:00.000000000',
       '2018-08-16T00:00:00.000000000', '2018-08-17T00:00:00.000000000',
       '2018-08-18T00:00:00.000000000', '2018-08-19T00:00:00.000000000',
       '2018-08-20T00:00:00.000000000', '2018-08-21T00:00:00.000000000',
       '2018-08-22T00:00:00.000000000', '2018-08-23T00:00:00.000000000',
       '2018-08-24T00:00:00.000000000', '2018-08-25T00:00:00.000000000',
       '2018-08-26T00:00:00.000000000', '2018-08-27T00:00:00.000000000',
       '2018-08-28T00:00:00.000000000', '2018-08-29T00:00:00.000000000',
       '2018-08-30T00:00:00.000000000', '2018-08-31T00:00:00.000000000',
       '2018-09-01T00:00:00.000000000', '2018-09-02T00:00:00.000000000',
       '2018-09-03T00:00:00.000000000'], dtype='datetime64[ns]')